#container
{
	width: 640px;
	height: 480px;
	
	overflow: hidden;
	
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
}

#waik
{
	height: 400px;
	
	position: absolute;
		left: 0px;
		top: 30px;
}

#hat
{
	width: 100px;
	
	position: absolute;
		left: 80px;
		top: 0px;
}

#bowtie
{
	width: 50px;
	
	position: absolute;
		left: 110px;
		top: 140px;
}

#watch
{
	width: 15px;
	
	position: absolute;
		left: 200px;
		top: 220px;
}